<div>
    <h1>welcome!!</h1>
    <button (click)="SignOut()">Sign Out</button>



    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>

            @for (item of users; track item)
            {<tr>
                <td>
                    {{ item.id }}

                </td>
                <td>
                    <a [routerLink]="['/allUsers',item.id]">{{ item.name }}</a>
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>