

{{ShowBless()}}!
{{title}}


<nav>
    <a routerLink="/" routerLinkActive="active" >Home</a>
    <a routerLink="/courses" routerLinkActive="active" >courses</a>
    <a routerLink="/forms" routerLinkActive="active" >forms</a>
    <a routerLink="/icons" routerLinkActive="active" >icons</a>
    <a routerLink="/teachers" routerLinkActive="active" >teachers</a>
    <a routerLink="/showCourses" routerLinkActive="active" >courses_list</a>
    <a routerLink="/dashboard" routerLinkActive="active" >dashboard</a>
    <a routerLink="/login" routerLinkActive="active" >login</a>
    
</nav>
<router-outlet></router-outlet>

